<%= @house.street_address %>
<ul>
<% @house.users.each do |user| %>
<li><%= user.first_name%> <%=user.last_name %></li>
<%end%>
</ul>

<div class="events">

  <form class="events">
    <h3>New Event</h3>
    <label>
      Event <input type="text" name="event" />
    </label>
    <label>
      Date <input type="date" name="date" />
    </label>
    <label>
      Time <input type="time" name="time" />
    </label>
    <button>Save</button>
  </form>

  <ul id="events"> 
  </ul>
</div>


<script type="template" class="eventtemplate">
  <span> Event: </span><%%=event.get("title")%>
  <span> Date: </span><%%=event.get("date")%>
  <span> Time: </span><%%=event.get("time")%>
  <button class="delete_event">Delete</button>
</script>

