<h2>User Page</h2>

<p><%= link_to "Create", new_house_path %>
 a house and add your roommates!</p>

<p>or</p>
<span id="join_house">Search</span> for an existing house.<br>
<br>
<%= link_to "Edit my info", edit_user_path %>


<br>
<script>
  var user = <%= current_user.id %>

  $(document).ready(function(){
  addUserToHouse(user);
  });

</script>
