<div id="texting">
<h3>Texting Hints</h3>
<p>You can add and remove information via text message. Simply text one of the following commands to 704-837-1544.</p>

<h4>Adding Dates</h4>
<p>Text the name of the event, the date, and the time. Check out the examples:</p>
<p>Giant Party, 04/25/2014, 10:00PM</p>
<p>Using the grill, 05/14/2014, 1:00PM</p>

<h4>Getting Your Shopping List</h4>
<p>Text the word "Shopping" to get a list of the things on your list</p>

<h4>Marking Something As Purchased</h4>
<p>Text the word "Purchased", the name of what you purchased, and the cost to mark it as purchased and add the amount to the bills list. Check out the examples:</p>
<p>Purchased dish soap $3.99</p>
<p>Purchased paper towels $4.50</p>

<div> 