/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*rgb(185,208,107) yellowgreen*/
/*rgb(85,109,80) dark green*/
/*rgb(130,175,116) med green*/
/*rgb(190, 221, 167) light green*/
/*rgb(219,223,221) grey*/
/*rgb(244,244,225) tan*/
 

input[type="checkbox"] {
  width: 20px;
}

h1 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  margin-left: 10px;
}

div#texting h3 {
  text-align: center;
}

body {
  background-color: rgb(190, 221, 167); 
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
}

#wrapper{
  width: 90%;
  background-color: rgb(244,244,225); 
  height: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

header {
  background-color: rgb(85,109,80); 
  padding: 17px;
  color: rgb(244,244,225);
}

header a {
  color: rgb(244,244,225);
}


header a:visited {
  color: rgb(244,244,225);
}

div.roommates {
  padding: 10px;
  width: 80%;
  display: block;
  background-color: rgb(244,244,225);
  /*border: 1px solid black;*/
  margin: 20px auto;
  border-radius: 10px;
  text-align: center;
}

div#texting {
  padding: 10px;
  width: 80%;
  display: block;
  background-color: rgb(244,244,225);
  margin: 20px auto;
  border-radius: 10px;
}

div.events {
  padding: 10px;
  width: 80%;
  display: block;
  background-color: rgb(244,244,225);
  margin: 20px auto;
  border-radius: 10px;
}

div.shopping {
  padding: 10px;
  width: 80%;
  display: block;
  background-color: rgb(244,244,225);
  margin: 20px auto;
  border-radius: 10px;
}

div form {
  background-color: rgb(244,244,225);
}

div.bills {
  padding: 10px;
  width: 80%;
  display: block;
  background-color: rgb(244,244,225);
  margin: 20px auto;
  border-radius: 10px;
}

table {
  border: 1px solid black;
  margin: 10px;
}

td {
  border: 1px solid black;
  padding: 0px 10px;
  text-align: center;
  width: 100px;
}

thead {
  background-color: rgb(130,175,116);
}

li {
  list-style-type: none;
}

ul#events li {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

ul#shopping li {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

ul#events {
  padding-left: 10px;
}

ul#shopping {
  padding-left: 10px;
}

ul#events li:nth-child(odd) {
  background-color: rgb(130,175,116)
}
ul#events li:nth-child(even) {
  background-color: rgb(190, 221, 167)
}

ul#shopping li:nth-child(odd) {
  background-color: rgb(130,175,116)
}
ul#shopping li:nth-child(even) {
  background-color: rgb(190, 221, 167)
}

form {
  border-radius: 10px;
  padding: 10px;
}

input {
  width: 150px;
  margin-right: 10px;
  margin-left: 10px;
}

button {
  border: 1px solid grey;
  background-color: rgb(219,223,221);
  border-radius: 5px;
  margin: 10px 0;
}

button.new_event {
  margin-left: 10px;
}

button.new_bill {
  margin-left: 10px;
}

button.new_shopping {
  margin-left: 10px;
}

button.delete_event {
  margin-left: 20px;
}

button.delete_shopping {
  margin-left: 20px;
}

a:visited {
  color: black;
}

a {
  color: black;
}

#splash {
  padding-top: 20px;
  padding-bottom: 0px;
  margin: 0 auto;
  text-align: center;
}

#login {
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

form#loginform {
  border: 0px;
}

form#loginform input{
  display: block;
  margin: 0 auto;
}

#register {
  text-align: center;
  border: 0px;
}

form#registerform {
  width: 50%;
  margin: 0 auto;
}

#register input {
  margin: 5px;
}

span#join_house {
  text-decoration: underline;
}

div#house_info {  
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

#spacer{
  width: 25px;
  display: inline-block;
}

/*CSS for landing page*/

div#splash_title {
  height: 150px;
  padding-top: 50px;
}

div#splash_login {
  padding-top: 3px;
  height: 120px;
  line-height: 1.5;
  background-color: rgb(130,175,116);
}

div#splash_info {
  height: 300px;
  padding-top: 20px;
}

div.splash_iphone {
  height: 350px; 
  overflow: hidden;
  width: 300px;
  display: inline-block;
  margin: 10px;
  margin-bottom: 0px;
}

div.splash_iphone img {
  width: 300px;
  margin: 0px;
  padding: 0px; 
}

div#splash_info_summary {
  padding: 50px;
  font-size: 1.5em;
}

div#splash_info_summary_bottom {
  background-color: rgb(244,244,225);
  height: 100px;
  padding: 60px;
  margin: 0px;
  font-size: 1.5em;
}

div#splash_texting {
  background-color: rgb(130,175,116);
  padding-top: 50px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

div#icons {
  background-color: rgb(130,175,116);
  font-size: 1.2em;
}

.icon {
  width: 100px;
  display: inline-block;
  padding: 20px 70px;
}

div.splash_icons {
  display: inline-block;
  width: 300px;
  padding: 30px 20px;
  text-align: center;
}

div#splash_allphones {
  position: relative;
  top: 150px;
  padding: 0px;
  margin: 0px;
}














