/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*rgb(185,208,107) yellowgreen*/
/*rgb(85,109,80) dark green*/
/*rgb(130,175,116) med green*/
/*rgb(190, 221, 167) light green*/
/*rgb(219,223,221) grey*/
/*rgb(244,244,225) tan*/
 

body {
  /*background-color: rgb(130,175,116)*/
}

#wrapper{
  width: 90%;
  /*background-color: rgb(190, 221, 167); */
  height: 100%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 0px 20px;
  border: 1px solid black;
  padding-bottom: 20px;
}

header {
  /*background-color: rgb(190, 221, 167);*/
  padding: 10px;
}

div.roommates {
  padding: 10px;
  width: 80%;
  display: block;
  /*background-color: rgb(244,244,225);*/
  border: 1px solid black;
  margin: 20px auto;
  border-radius: 10px;
}

div.events {
  padding: 10px;
  width: 80%;
  display: block;
  /*background-color: rgb(244,244,225);*/
  border: 1px solid black;
  margin: 20px auto;
  border-radius: 10px;
}

h3 {
  margin-left: 10px;
}

div form {
  /*background-color: rgb(244,244,225);*/
}

div.bills {
  padding: 10px;
  width: 80%;
  display: block;
  /*background-color: rgb(244,244,225);*/
  border: 1px solid black;
  margin: 20px auto;
  border-radius: 10px;
}

table {
  border: 1px solid black;
  margin: 10px;
}

td {
  border: 1px solid black;
  padding: 0px 20px;
  width: 100px;
}

thead {
  background-color: rgb(219,223,221);
}

li {
  list-style-type: none;
}

ul#events li:nth-child(odd) {
  /*background-color: rgb(129,182,213)*/
}
ul#events li:nth-child(even) {
  /*background-color: rgb(201,226,237)*/
}

form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

input {
  width: 150px;
  margin-right: 10px;
  margin-left: 10px;
}

button {
  border: 1px solid grey;
  background-color: rgb(219,223,221);
  border-radius: 5px;
  margin: 10px 0;
}

a:visited {
  color: black;
}

a {
  color: black;
}

#splash {
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#login {
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

form#loginform {
  border: 0px;
}

form#loginform input{
  display: block;
  margin: 0 auto;
}

#register {
  text-align: center;
  border: 0px;
}

form#registerform {
  width: 50%;
  margin: 0 auto;
}

#register input {
  margin: 5px;
}

span#join_house {
  text-decoration: underline;
}


